[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==22.12.0"
django = "==4.1.4"
django-debug-toolbar = "==3.8.1"
django-redis = "==5.2.0"
djangorestframework = "==3.14.0"
isort = "==5.11.2"
pillow = "==9.4.0"
pre-commit = "==2.20.0"
psycopg2-binary = "==2.9.5"
pyjwt = "==2.6.0"
redis = "==3.5.3"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
